 <h1><%= @restaurant.name %></h1>
 <td><%= @restaurant.address %></td>
<td><%= @restaurant.phone_number %></td>
 <td><%= @restaurant.category %></td>

 <p><%= link_to "See all restaurants", restaurants_path %></p>
